@inject I18nText translator

<div class="collapse navbar-collapse" id="navcol-1">
    <AuthorizeView>
        <Authorized>
            <ul class="nav navbar-nav ml-auto" style="z-index:100;">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown">@miTexto.Hola @context.User.Identity.Name</a>
                    <div class="dropdown-menu" style="overflow:visible; z-index:-1" role="menu">
                        <a class="dropdown-item" href="/DatosPersonales" role="presentation"><i class="fas fa-user-circle"></i> @miTexto.Datos</a>
                        <a class="dropdown-item" href="/Contrasena" role="presentation">Cambiar Contraseña</a>
                    </div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/Logout" data-bs-hover-animate="rubberBand">@miTexto.Salir</a></li>
            </ul>
        </Authorized>
        <NotAuthorized>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/Login" data-bs-hover-animate="rubberBand">@miTexto.LogIn</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/Registro" data-bs-hover-animate="rubberBand">@miTexto.Registrate</a></li>
            </ul>
        </NotAuthorized>
    </AuthorizeView>

</div>

@code{
    Text miTexto = new Text();
    protected override async Task OnInitializedAsync()
    {
        miTexto = await translator.GetTextTableAsync<Text>(this);
    }
}
